.header img{
    height: 80px;
 
}
.header{
    text-align: center;
}

.header nav{
    background-color: black;
    line-height: 80px;
    margin-top: 10px;
    
}

nav a{
    text-decoration: none;
    margin: 10px;
    font-size: 25px;
    color: white;
    padding: 10px;
}

nav a:hover{
    background-color: gray;
}